<div class="w-full px-20">
  <h2 class="text-xl font-bold mb-4">Lista de metas</h2>

  <div class="flex mb-4">
    <input type="text"
           class="flex-1 rounded-l py-2 px-4 border border-b-cyan-600"
            [(ngModel)]="newGoal"
           placeholder="" />
    <button class="bg-blue-500 hover:bg-blue-600 text-white py-2 px-4 rounded-r" (click)="addGoal()">Agregar</button>
  </div>


  <ul>
    <li *ngFor="let goal of $goals | async" class="flex items-center justify-between border-b border-gray-200 py-2">

      <div class="inline-flex items-center">
        <label class="relative flex cursor-pointer items-center rounded-full p-3"
          for="checkbox-7" data-ripple-dark="true">
          <input type="checkbox"
            class="before:content[''] peer relative h-5 w-5 cursor-pointer appearance-none rounded-md border border-blue-gray-200 transition-all before:absolute before:top-2/4 before:left-2/4 before:block before:h-12 before:w-12 before:-translate-y-2/4 before:-translate-x-2/4 before:rounded-full before:bg-blue-gray-500 before:opacity-0 before:transition-opacity checked:border-purple-500 checked:bg-purple-500 checked:before:bg-purple-500 hover:before:opacity-10"
            id="checkbox-7"
            checked

          />
          <div class="pointer-events-none absolute top-2/4 left-2/4 -translate-y-2/4 -translate-x-2/4 text-white opacity-0 transition-opacity peer-checked:opacity-100">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-3.5 w-3.5"
              viewBox="0 0 20 20"
              fill="currentColor"
              stroke="currentColor"
              stroke-width="1"
            >
              <path
                fill-rule="evenodd"
                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                clip-rule="evenodd"
              ></path>
            </svg>
          </div>
        </label>
      </div>

      <span>{{ goal.title }}</span>
      <div class="flex">
        <p class="text-gray-500">{{ goal.action }}</p>
        <p class="text-gray-500">{{ goal.frequency }}</p>
      </div>
      <div class="gap-2">
        <button class="text-yellow-500 hover:text-yellow-600 mx-1" (click)="editGoal(goal)">Editar</button>
        <button class="text-red-500 hover:text-red-600 mx-1" (click)="deleteGoal(goal)">Eliminar</button>
      </div>
    </li>
  </ul>
</div>

<app-modal
  [showModal]="showModal"
  (closeModalEvent)="closeModal($event)">
</app-modal>
